@import '../../styles/variables';

.todoItem {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 15px;
  padding: 10px;

  &Checkbox {
    opacity: 0;
  }

  &Checkbox:checked + &Label::before {
    background: no-repeat center/90%  url("../../assets/images/check.svg");
  }

  &Label {
    width: 100%;

    &::before {
      content: '';
      position: absolute;
      width: 24px;
      height: 24px;
      left: 15px;
      top: 50%;
      background: none;
      transform: translateY(-50%);
      border: 2px solid $beige;
      cursor: pointer;
      border-radius: 5px;
    }
  }

  &Title {
    display: block;
    padding: 10px;
    margin-left: 15px;
    color: $dark-grey;
  }

  &TitleCompleted {
    text-decoration: line-through;
  }

  &TitleEdit {
    width: calc(100% - 24px);
    padding: 10px;
    margin-left: 30px;
    color: $dark-grey;
    border: none;
    border-radius: 5px;
    background-color: $grey;
  }

  &::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid $medium-grey;
    width: 100%;
    bottom: 0;
    left: 0;
  }

  &Content {
    display: flex;
    flex: auto;
    align-items: center;
    overflow: hidden;
  }

  &Actions {
    display: flex;
    align-items: center;
    margin-left: 15px;
  }

  &Edit {
    width: 24px;
    height: 24px;
    background: no-repeat center/80% url("../../assets/images/edit.svg");
    transition: opacity 0.3s;
    
    &:hover {
      opacity: 0.3;
    }
  }

  &Save {
    width: 24px;
    height: 24px;
    background: no-repeat center/70% url("../../assets/images/save.svg");
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.3;
    }
  }

  &Remove {
    width: 24px;
    height: 24px;
    background: no-repeat center/80% url("../../assets/images/remove.svg");
    transition: opacity 0.3s;
    margin-left: 5px;

    &:hover {
      opacity: 0.3;
    }
  }
}

@media screen and (max-width: 420px) {
  .todoItem {
    &Actions {
      flex-direction: column;
    }

    &Remove {
      margin-left: 0;
    }

    &Edit {
      margin-left: 5px;
    }
  }
}