@import '../../styles/variables';

.select {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px 10px 5px;

  &Open {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 16px;
      height: 16px;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
      margin-left: 10px;
      background: no-repeat center center /80% url("../../assets/images/down.svg");
    }
  }

  &Selected {
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
  }

  &List {
    display: none;
    position: absolute;
    z-index: 1;
    top: 35px;
    left: 25px;
    padding: 5px 0;
    border: 1px solid $medium-grey;
    border-radius: 5px;
    background-color: $white;

    &.Active {
      display: block;
    }
  }

  &Item {
    margin-bottom: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 13px;
    white-space: nowrap;

    &:hover {
      background-color: $pink;
    }
  }
}

