@import '../styles/variables';

.todoBox {
  width: 600px;
  background-color: white ;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .todoBox {
    width: calc(600 * $coeff-768-w);
  }
}

@media screen and (max-width: 420px) {
  .todoBox {
    width: calc(400 * $coeff-420-w);
  }
}