@import '../../styles/variables';

.header {
  background-color: $blue;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;

  &Top {
    display: flex;
    justify-content: right;
  }

  &Bottom {
    padding: 0 50px 20px;
  }

  &Title {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    &Bottom {
      padding: 0 20px 20px;
    }
  }
}

@media screen and (max-width: 420px) {
  .header {
    &Title {
      font-size: 35px;
    }

    &Bottom {
      padding: 0 10px 20px;
    }
  }
}
