@import '../../styles/variables';

.todoInput {
  display: flex;
  width: 100%;
  
  &Value {
    flex: 1;
    font-size: 16px;
    margin-right: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: $dark-grey;

    &::placeholder {
      color: $medium-grey;
    }

    &:focus {
      border: 1px solid $dark-grey;
    }
  }

  &Btn {
    padding: 10px;
    color: $white;
    border: none;
    border-radius: 5px;
    background-color: $beige;
    border: 2px solid $beige;
    font-size: 20px;
    transition: 0.3s;

    &:hover {
      opacity: 0.9;
      background-color: #B19986;
      border: 2px solid #B19986;
    }
  }
}

@media screen and (max-width: 768px) {
  .todoInput {
    flex-direction: column;
    &Value {
      margin-right: 0;
      margin-bottom: 10px;
    }

    &Btn {
      flex: 1;
    }
  }
}




